* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: white; */
    font-family: 'Hind Siliguri', sans-serif;
}

body{
    margin: 0 auto;
    width: 80%;
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header-container{
    /* background-color: #12f299; */
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo_alura{
    width: 100px;
    height: 100px;
    /* border: #0a0a0a 1px solid; */
}

.barra-nav ul li{
    display: inline-block;
    padding: 0 5px;
    font-size: 2rem;
    text-transform: uppercase;
}

.barra-nav ul li a{
    color: #ffffff;
    text-decoration: none;
}

.barra-nav ul li a:hover{
    color: #f27108;
    font-size: 2.5rem;
}


.title-container{
    margin: 10px auto;
    padding-top: 10px;
    /* border: #0a0a0a 4px solid; */
    text-align: center;
    line-height: 3.5rem;
    color: #ffffff;
}

.title-container h1{
    background: #f7ff00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #db36a4, #f7ff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
}

.title-container span{
    color: #ffffff;
    font-size: 2.5rem;

    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.content-container{
    display: flex;
    width: 100%;
    margin: 20px auto;
    justify-content: space-between;
    /* border: #0a0a0a 2px solid; */
}

.input-container{
    width: 48%;
    margin-bottom: 10px;
    /* border: #9cadeb 2px solid; */
}
.inputText-container{
    width: 100%;
    padding: 0 10px 0 10px;
    /* padding: 10px; */
    color: #ffffff;
    /* border: #d6d894b1 5px solid; */
}

.divSelect{
    display: flex;
    align-items: center;
}

.divSelect select{
    margin: 0 10px;
}

.inputText-container label{
    display: block;
    margin: 15px 0;
    font-size: 1.2rem;
}

.inputText-container textarea{
    width: 100%;
    height: 15rem;
    margin-bottom: 0;
    border: #a639e0f2 2px solid;
    border-radius: 20px;
    padding: 10px;
    resize: none;
    background: none;
    color: #ffffff;
    font-size: 1.5rem;
}

.inputText-container ::placeholder{
    color: #ffffff;
}

.textoLimitante{
    /* border: #9cadeb 2px solid; */
    display: flex;
    align-items: center;
    font-size:  1rem;
    color: #ffffff;
}

.icon_alert{

    width: 25px;
    height: 25px;
    margin: auto 10px;
}

.buttons-encript-container{
    width: 75%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    /* border: #12f299 1px solid; */
}

.buttons-encript-container button{
    font-size: 1.5rem;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    /* font-weight: bold; */
    cursor: pointer;
}

.encrypt-button{
    background-color: #9cadeb;
}

.decrypt-button{
    background-color: #d6d894b1;
}


.output-container{
    width: 48%;
    border: rgb(226, 252, 23) 2px solid;
    border-radius: 20px;
}
.outputText-container{
    width: 100%;
    height: 80%;
    padding: 10px;
}

.outputText-container textarea{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    background: none;
    resize: none;
    color: #ffffff;
    font-size: 1.4rem;
}

.textoInformativo{
    font-size: 1.2rem;
    text-align: center;
    margin: 10px auto;
    color: #ffffff;
}

.buttonCopy-div{
    width: 25%;
    height: 13%;
    margin: 10px auto;
    /* border: purple 1px solid; */
    /* display: flex; */
    justify-content: center;
}

.buttonCopy-div button{
    margin: auto;
    width: 100%;
    height: 35px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgba(241, 210, 250, 0.45);
    font-size: 1.4rem;
    color: #ffffff;
    line-height: 0%;
}

.emptyImage{
    /* display: block; */
    width : 50%;
    height: auto;
    margin: 80px auto 10px auto;
}

.remove {
    display: none;
}

.addBlock {
    display: block;
}

.addFlex{
    display: flex;
}


.emptyImage.image-in{
    animation-name: start-image;
    animation-duration: 1.7s;
}

@keyframes start-image{
    0% {
		transform: scaleY(0);
	}

	100% {
		transform: scaleY(1);
	}
}


.emptyImage.image-out {
    animation-name: fade-out-image;
    animation-duration: 1s;
}

@keyframes fade-out-image {
    0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

/* !media queries */

@media screen and (min-width: 1700px){
    .content-container{
        height: 550px;
    }

    .emptyImage{
        width : 40%;
    }
}

@media screen and (max-width: 1440px) {
    .buttons-encript-container button{
        width: 150px;
        height: 40px;
        font-size: 1.2rem;
    }

    .emptyImage{
        margin: 20px auto 10px auto;
    }
}

@media screen and (max-width: 1200px) {
    .buttons-encript-container button{
        width: 120px;
        height: 40px;
        font-size: 1rem;
    }

    .textoLimitante{
        font-size: 0.9rem;
    }

    .textoInformativo{
        font-size: 1rem;
    }
}

@media screen and (max-width: 910px) {
    .buttons-encript-container button{
        width: 100px;
        height: 40px;
        font-size: 1rem;
    }

    .textoLimitante{
        font-size: 0.7rem;
    }

}

@media screen and (max-width: 768px){
    body{
        width: 95%;
    }

    .buttons-encript-container button{
        width: 100px;
        height: 40px;
        font-size: 1rem;
    }

}

@media screen and (max-width: 700px){
    body{
        width: 95%;
    }

    .header-container{
        height: 60px;
    }
    .logo_alura{
        height: 60px;
        width: 60px;
    }
    .content-container{
        flex-direction: column;
    }

    .input-container{
        width: 95%;
        margin: 10px auto;
    }

    .output-container{
        width: 95%;
        height: 340px;
        margin: 10px auto;

    }

    .outputText-container{
        padding: 2px;
    }
    .buttonCopy-div{
        margin: 3px auto;
    }
}



@media screen and (max-width: 510px){



    .barra-nav ul li{
        font-size: 1.4rem;
    }


    .barra-nav ul li a:hover{
        font-size: 1.7rem;
    }



}

@media screen and (max-width: 475px){
    .buttonCopy-div{
        width: 35%;
    }


    .barra-nav ul li{
        font-size: 1.1rem;
    }


    .barra-nav ul li a:hover{
        font-size: 1.3rem;
    }

    .textoInformativo{
        font-size: 0.85rem;
    }

}

@media screen and (max-width: 340px){

    .barra-nav ul li{
        font-size: 0.9rem;
    }


    .barra-nav ul li a:hover{
        font-size: 1.2rem;
    }

    .textoInformativo{
        font-size: 0.75rem;
    }

    .title-container{
        padding-top: 5px;
        line-height: 2.5rem;
    }

    .title-container h1{
        font-size: 2.5rem;
    }

    .title-container span{
        font-size: 1.5rem;

    }


}
